.AppLogo {
  height: 400px;
}

p {
  font-family: sans-serif;
  color: #fff;
  margin: 0px;
  font-size: 50px;
}

.Presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1464;
  height: 100vh;
  width: 100vw;
}
